@model DomainStorm.Project.TWCrepair.Report.Web.Views.RA035
@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>

    </title>

	<style type="text/css">
		table {
			color: black;
			font-size: 10pt;
			font-family: 新細明體;
		}

		a:link,
		a:visited {
			font-size: 10pt;
			text-decoration: none;
			color: blue;
			line-height: 16px;
		}

		a:hover {
			font-size: 10pt;
			text-decoration: none;
			color: red;
			line-height: 16px;
		}

		td,
		input,
		select,
		label {
			font-size: 10pt;
			font-family: 新細明體;
			line-height: 16px;
		}

		#Mattc tr td:first-child {
			min-width: 200px;
		}
	</style>
    <style type="text/css">

        .cPrintOnly {
            PAGE-BREAK-BEFORE: always;
            DISPLAY: none
        }

        .cPrintAfter {
            PAGE-BREAK-AFTER: always;
            DISPLAY: block;
        }

        .avoidBreak {
            page-break-inside: avoid;
        }

        .avoidBreak2 {
            page-break-inside: avoid;
            display: block;
        }
    </style>
       
</head>
<body>
    <img src="YearPlanReportAttach5.jpg" />

</body>
</html>