@using Microsoft.AspNetCore.Components.Web
@namespace DomainStorm.Project.TWCrepair.Report.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
@*     <base href="~/" /> *@
    <link rel="stylesheet" href="./css/bootstrap/bootstrap.min.css" />
    <link href="./css/site.css" rel="stylesheet" />
    <link href="./DomainStorm.Project.TWCrepair.Report.Web.styles.css" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <link href="./domain-storm-web-component/assets/css/material-dashboard.css" rel="stylesheet"/>
    <link href="./domain-storm-web-component/assets/css/material-icons-round.css" rel="stylesheet"/>
    <link href="./domain-storm-web-component/assets/css/fa-main.css" rel="stylesheet"/>
</head>
<body class="bg-gray-200">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script type="module" src="./domain-storm-web-component/domain-storm-web-component.esm.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="./lib/plotly.js/dist/plotly.min.js"></script>
    <script type="text/javascript" src="./lib/plotly.js/dist/plotly-locale-zh-tw.js"></script>
</body>
</html>
