@using DomainStorm.Project.TWC.Report.Web.InputModel
@using static DomainStorm.Project.TWC.Report.Web.ReportCommandModel.RA002.V1

@page "/RA002"

<StormReportDownloadWrapper TViewModel="RA002"
                            TInputModel="RA002_InputModel"
                            TQueryModel="QueryRA002"
                            DataSet="_dataSet"
                            ViewName="/Views/RA002.cshtml"
                            Title="RA002報表-各區處確認受理年度月份統計表"
                            Icon="bar_chart">
    <div class="row mt-3">
        <div class="col col-sm mt-3 mt-sm-0">
            <storm-select label="選擇年份"
            @bind-value="_dataSet.Year"
            @bind-value:event="onchange">
                @foreach (var year in _dataSet.AvailableYears)
                {
                    <option slot="option" value="@year" selected>@year</option>
                }
            </storm-select>
        </div>
    </div>
</StormReportDownloadWrapper>

@code {
    private RA002_InputModel _dataSet = new();
}
