
@using DomainStorm.Framework
@using DomainStorm.Framework.Services
@using System.Text.Json
@using DomainStorm.Framework.BlazorComponent.Extensions;
@using DomainStorm.Framework.Caching
@using DomainStorm.Project.TWCrepair.Report.Web.ReportCommandModel
@using DomainStorm.Project.TWCrepair.Shared.ViewModel
@using static DomainStorm.Project.TWCrepair.Repository.CommandModel.Report.V1;
@inject IJSRuntime Js
@inject IGetService<DomainStorm.Project.TWCrepair.Report.Web.Views.Dashboards.DA007, string> _da007Service;
@inject IGetService<PlotlyJson, ReportConvertRequest> _reportService;

@page "/DA007"

<StormCard @ref="_stormCardRef" Icon="leaderboard">
    <div slot="body">
        <div id="chart"></div>
    </div>
</StormCard>


@code {
    private StormCard _stormCardRef;

    [Parameter, SupplyParameterFromQuery]
    public string Location { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public DateTime MeasureDate { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid? BeforeOrAfterWordId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (levelOneDepartment == null)
        //     return;

        var request = new ReportCommandModel.DA007.V1.QueryDA007
        {
            Location = Location, 
            MeasureDate = MeasureDate, 
            BeforeOrAfterWordId = BeforeOrAfterWordId
        };
        var da007 = await _da007Service.GetAsync<ReportCommandModel.DA007.V1.QueryDA007>(request);
        var convertRequest = new ReportConvertRequest
        {
            ViewName = "/Views/Dashboards/DA007.cshtml",
            Model = da007,
            Extension = FileExtension.JSON
        };

        var plotlyJson = await _reportService.GetAsync(convertRequest);
        await _stormCardRef.SetHeadlineAsync(plotlyJson.Layout.Title);
        plotlyJson.Layout.Title = "";
        plotlyJson.Layout.Margin.T = 10;  //T=0  第一條線會不見
        await Js.InvokeVoidAsync("drawChart", "chart", JsonSerializer.Serialize(plotlyJson, new JsonSerializerOptions(JsonSerializerDefaults.Web)));
    }
}
