@using DomainStorm.Framework
@using DomainStorm.Framework.Services
@using System.Text.Json
@using DomainStorm.Framework.BlazorComponent.Extensions;
@using DomainStorm.Framework.Caching
@using DomainStorm.Project.TWCrepair.Shared.ViewModel
@using static DomainStorm.Project.TWCrepair.Repository.CommandModel.Report.V1;
@inject IJSRuntime Js
@inject IGetService<DomainStorm.Project.TWCrepair.Report.Web.Views.Dashboards.DA005, string> _DA005Service;
@inject IGetService<PlotlyJson, ReportConvertRequest> _reportService;

@page "/DA005"

<StormCard @ref="_stormCardRef" icon="leaderboard">
    <div slot="body">
        <div id="chart"></div>
    </div>
</StormCard>

@code {
    private StormCard _stormCardRef;

    [Parameter, SupplyParameterFromQuery]
    public Guid DepartmentId { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid? SiteId { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid WaterSupplySystemId { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid WorkSpaceId { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid? SmallRegionId { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public DateTime BeforeDate { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public DateTime AfterDate { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var request = new ReportCommandModel.DA005.V1.QueryDA005
        {
            DepartmentId = DepartmentId,
            SiteId = SiteId,
            WaterSupplySystemId = WaterSupplySystemId,
            WorkSpaceId = WorkSpaceId,
            SmallRegionId = SmallRegionId,
            BeforeDate = BeforeDate,
            AfterDate = AfterDate
        };
        var DA005 = await _DA005Service.GetAsync<ReportCommandModel.DA005.V1.QueryDA005>(request);
        var convertRequest = new ReportConvertRequest
        {
            ViewName = "/Views/Dashboards/DA005.cshtml",
            Model = DA005,
            Extension = FileExtension.JSON
        };

        var plotlyJson = await _reportService.GetAsync(convertRequest);
        await _stormCardRef.SetHeadlineAsync(plotlyJson.Layout.Title);
        plotlyJson.Layout.Title = "";
        plotlyJson.Layout.Margin.T = 10;  //T=0  第一條線會不見
        await Js.InvokeVoidAsync("drawChart", "chart", JsonSerializer.Serialize(plotlyJson, new JsonSerializerOptions(JsonSerializerDefaults.Web)));
    }
}
