
@using DomainStorm.Framework
@using DomainStorm.Framework.Services
@using System.Text.Json
@using DomainStorm.Framework.BlazorComponent.Extensions;
@using DomainStorm.Framework.Caching
@using DomainStorm.Project.TWCrepair.Report.Web.ReportCommandModel
@using DomainStorm.Project.TWCrepair.Shared.ViewModel
@using static DomainStorm.Project.TWCrepair.Repository.CommandModel.Report.V1;
@inject IJSRuntime Js
@inject IGetService<DomainStorm.Project.TWCrepair.Report.Web.Views.Dashboards.DA006, string> _da006Service;
@inject IGetService<PlotlyJson, ReportConvertRequest> _reportService;

@page "/DA006"

<storm-card @ref="_stormCardRef" icon="leaderboard">
    <div id="chart"></div>
</storm-card>


@code {
    private ElementReference _stormCardRef;

    [Parameter, SupplyParameterFromQuery]
    public string Location { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public DateTime MeasureDate { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public Guid? BeforeOrAfterWordId { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // if (levelOneDepartment == null)
        //     return;

        var request = new ReportCommandModel.DA006.V1.QueryDA006();
        var da006 = await _da006Service.GetAsync<ReportCommandModel.DA006.V1.QueryDA006>(request);
        var convertRequest = new ReportConvertRequest
        {
            ViewName = "/Views/Dashboards/DA006.cshtml",
            Model = da006,
            Extension = FileExtension.JSON
        };

        var plotlyJson = await _reportService.GetAsync(convertRequest);
        await Js.SetProperty(_stormCardRef, "headline", plotlyJson.Layout.Title);
        plotlyJson.Layout.Title = "";
        plotlyJson.Layout.Margin.T = 10;  //T=0  第一條線會不見
        await Js.InvokeVoidAsync("drawChart", "chart", JsonSerializer.Serialize(plotlyJson, new JsonSerializerOptions(JsonSerializerDefaults.Web)));
    }
}
