
@using DomainStorm.Project.TWC.Report.Web.ReportCommandModel
@using DomainStorm.Framework
@using DomainStorm.Framework.Services
@using System.Text.Json
@using DomainStorm.Framework.Authentication
@using DomainStorm.Framework.Authentication.Claims
@using DomainStorm.Framework.BlazorComponent.Extensions;
@using DomainStorm.Framework.Caching
@using DomainStorm.Project.TWC.Report.Web.ViewModel
@inject IJSRuntime Js
@inject IGetService<DomainStorm.Project.TWC.Report.Web.Views.Dashboards.DA001, string> _da001Service;
@inject IGetService<PlotlyJson, Report.V1.ReportConvertRequest> _reportService;
@inject IGetService<Department, string> _departmentService
@inject TokenProvider _tokenProvider;
@inject ICache _cache;

@page "/DA001"

@if (levelOneDepartment != null)
{
    <storm-card @ref="_stormCardRef" icon="leaderboard">
        <div id="chart"></div>
    </storm-card>
}

@code {
    private ElementReference _stormCardRef;
    private Department? levelOneDepartment;

    protected override async Task OnInitializedAsync()
    {
        var mainClaimsIdentity = await _tokenProvider.GetMainClaimsIdentityAsync(_cache);
        if (mainClaimsIdentity == null) throw new ArgumentNullException(nameof(mainClaimsIdentity));
        var departmentId = Guid.Parse(mainClaimsIdentity.FindFirst(c => c.Type == ClaimTypes.DepartmentId)!.Value);

        try
        {
            levelOneDepartment = await _departmentService.GetAsync<TWC.Web.CommandModel.Department.V1.GetParentByLevel>(new TWC.Web.CommandModel.Department.V1.GetParentByLevel { DepartmentId = departmentId, Level = 1 });
        }
        catch (ArgumentNullException)
        {

        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (levelOneDepartment == null)
            return;

        var request = new ReportCommandModel.DA001.V1.QueryDA001 { DepartmentIds = new List<Guid> {levelOneDepartment.DepartmentId } };
        var da001 = await _da001Service.GetAsync<ReportCommandModel.DA001.V1.QueryDA001>(request);
        var convertRequest = new Report.V1.ReportConvertRequest
        {
            ViewName = "/Views/Dashboards/DA001.cshtml",
            Model = da001,
            Extension = IConvert.Extension.JSON
        };

        var plotlyJson = await _reportService.GetAsync(convertRequest);
        await Js.SetProperty(_stormCardRef, "headline", plotlyJson.Layout.Title);
        plotlyJson.Layout.Title = "";
        plotlyJson.Layout.Margin.T = 0;
        await Js.InvokeVoidAsync("drawChart", "chart", JsonSerializer.Serialize(plotlyJson, new JsonSerializerOptions(JsonSerializerDefaults.Web)));
    }
}
