@using DomainStorm.Project.TWC.Report.Web.InputModel
@using static DomainStorm.Project.TWC.Report.Web.ReportCommandModel.RA999.V1

@page "/RA999"

<StormReportDownloadWrapper TViewModel="RA999"
                                TInputModel="RA999_InputModel"
                                TQueryModel="QueryRA999"
                                DataSet="_dataSet"
                                ViewName="/Views/RA999.cshtml"
                                Title="RA999-各區處確認受理清單"
                                Icon="bar_chart">
    <div class="row mt-3">
        <div class="col col-sm mt-3 mt-sm-0">
            <storm-input-group type="date"
                               label="受理日期起"
                               is-dynamic="false"
                               @bind-value="_dataSet.ApplyDateBegin"
                               @bind-value:format="yyyy-MM-dd"
                               @bind-value:event="onchange">
            </storm-input-group>
        </div>
        <div class="col col-sm mt-3 mt-sm-0">
            <storm-input-group type="date"
                               label="受理日期迄"
                               is-dynamic="false"
                               @bind-value="_dataSet.ApplyDateEnd"
                               @bind-value:format="yyyy-MM-dd"
                               @bind-value:event="onchange">
            </storm-input-group>
        </div>
    </div>
</StormReportDownloadWrapper>

@code {
    private RA999_InputModel _dataSet = new();
}
