@inherits LayoutComponentBase

<PageTitle>DomainStorm.Template.Blazor.Web</PageTitle>

<AuthorizeView>
    <Authorized>
        <ErrorBoundary @ref="_errorBoundary">
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent Context="exception">
                <p>@exception.Message</p>
                <p>@exception.StackTrace</p>
                <ExceptionLoginRedirect Exception="@exception"></ExceptionLoginRedirect>
            </ErrorContent>
        </ErrorBoundary>
    </Authorized>
    <NotAuthorized>
        <LoginRedirect/>
    </NotAuthorized>
</AuthorizeView>


@code {
    private ErrorBoundary? _errorBoundary;

    protected override void OnParametersSet()
    {
        _errorBoundary?.Recover();
    }
}
