@namespace DomainStorm.Template.Blazor.Web.Shared
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <title>敦陽雲端共構系統登入</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link href="./DomainStorm.Project.TWC.Report.Web.styles.css" rel="stylesheet" />
</head>
<body class="bg-gray-200">
    @RenderBody()
    <script src="./_framework/blazor.server.js"></script>
</body>
</html>
