@using DomainStorm.Project.TWC.Report.Web.InputModel
@using static DomainStorm.Project.TWC.Report.Web.ReportCommandModel.RA001.V1

@page "/RA001"

<StormReportDownloadWrapper TViewModel="RA001"
                                TInputModel="RA001_InputModel"
                                TQueryModel="QueryRA001"
                                DataSet="_dataSet"
                                ViewName="/Views/RA001.cshtml"
                                Title="RA001-各區處確認受理統計表"
                                Icon="bar_chart">
    <div class="row mt-3">
        <div class="col col-sm mt-3 mt-sm-0">
            <storm-input-group type="date"
                               label="受理日期起"
                               is-dynamic="false"
                               @bind-value="_dataSet.ApplyDateBegin"
                               @bind-value:format="yyyy-MM-dd"
                               @bind-value:event="onchange">
            </storm-input-group>
        </div>
        <div class="col col-sm mt-3 mt-sm-0">
            <storm-input-group type="date"
                               label="受理日期迄"
                               is-dynamic="false"
                               @bind-value="_dataSet.ApplyDateEnd"
                               @bind-value:format="yyyy-MM-dd"
                               @bind-value:event="onchange">
            </storm-input-group>
        </div>
    </div>
</StormReportDownloadWrapper>

@code {
    private RA001_InputModel _dataSet = new();
}
