name: .NET

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Checkout submodules
      uses: actions/checkout@v4
      with:
        submodules: recursive
        token: ${{ secrets.ACCESS_TOKEN }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Clean old build artifacts
      run: |
        dotnet clean DomainStorm.Project.TWCrepair.Report.sln
        find . -type d -name 'bin' -o -name 'obj' | xargs rm -rf

    - name: Restore dependencies
      run: dotnet restore DomainStorm.Project.TWCrepair.Report.sln

    - name: Build
      run: dotnet build DomainStorm.Project.TWCrepair.Report.sln --no-restore

    - name: Test
      run: dotnet test DomainStorm.Project.TWCrepair.Report.sln --no-build --verbosity normal
